/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: my-cool-font;
  src: url(./BeautifulPeoplePersonalUse-dE0g.ttf);
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.main-body {
  background-color: white;
  width: 67%;
  height: 100vh;
  display: flex;
}

.photo-column-left {
  background-color: rgb(244, 226, 229);
  flex: 1.1;
  background-image: url(./rishu-bhosale-ms-HZqv5i08-unsplash.jpg);
  background-position: center;
  /* background-size: auto; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.photo-column-left > p {
  align-self: center;
  color: white;
  position: relative;
  top: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
}

.form-column-right {
  background-color: rgb(252, 248, 248);
  flex: 1.9;
  display: flex;
  flex-direction: column;
  /* border: solid red 2px; */
}

.logo-banner {
  height: 20%;
  background-color: rgba(7, 7, 7, 0.5);
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(99deg) brightness(111%)
    contrast(100%);
  width: 200px;
  height: 75px;
}

.form-heading,
.form-body,
.form-footer {
  /* border: solid 2px rgb(169, 169, 172); */
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.form-heading {
  background-color: #f6f9f9ce;
  padding: 45px;
  box-shadow: inset -4px 0px 25px -6px rgba(0, 0, 0, 0.4);
}

.form-heading,
.form-body {
  align-items: center;
  padding: 20px 45px;
}

.form-footer {
  align-items: flex-start;
  padding: 35px 45px;
  /* border-top: solid 2px rgb(169, 169, 172); */
  box-shadow: inset -4px 0px 25px -6px rgba(0, 0, 0, 0.4);
}

.form-heading h1 {
  font-family: "my-cool-font";
  color: black;
  font-size: 18px;
  line-height: 1.2em;
  max-width: 25vw;
}

legend {
  padding-bottom: 20px;
}
fieldset {
  border: 0;
}

label > span {
  display: block;
  text-align: left;
  padding-bottom: 5px;
  font-size: 12px;
}

form[id="myform"] > fieldset {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;

  /* border: 2px solid red; */
}

fieldset > p {
  padding: 10px 30px 0px 0px;
  flex-basis: 40%;
}

input {
  max-width: 180px;
  border: 1px solid #bebebf;
  border-radius: 4px;
}

body {
  font-family: "my-cool-font";
}

input:focus {
  outline: none;
  border: 1px solid rgb(58, 102, 233);
  box-shadow: 0.3px 0.3px 8px #909294;
}

.error {
  outline: none;
  border: 1px solid rgb(219, 56, 41);
  box-shadow: 0.3px 0.3px 8px #909294;
}

input + span {
  position: relative;
}

input:required + span::after {
  font-size: 0.7rem;
  position: absolute;
  content: "required";
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  padding: 2px 10px;
  border-radius: 5px;
  top: -35px;
  left: 100px;
}

legend > p {
  font-family: Arial, Helvetica, sans-serif;
  /* display: inline-block; */
  font-size: x-small;
  padding-top: 8px;
}

input + span[class="required"]::before {
  position: absolute;
  right: 5px;
  top: -15px;
}

input:valid + span[class="required"]::before {
  content: "✓";
  color: green;
}

input[type="submit"] {
  padding: 3px 35px;
  align-self: flex-start;
  background-color: rgb(55, 101, 86);
  color: white;
  font-family: "my-cool-font";
  border-radius: 6px;
  box-shadow: 0.3px 0.3px 8px #909294;
}

input[type="submit"]:hover {
  border: 1px solid rgb(58, 57, 57);
  box-shadow: 0px 0px 16px 8px;
  cursor: pointer;
}

p[class="warning-msg"] {
  color: rgb(219, 56, 41);
  font-family: "my-cool-font";
  font-size: 12px;
  line-height: 1.2em;
}

.form-footer-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.logIn {
  font-size: 12px;
  padding: 10px 0;
}

p > a {
  padding-left: 6px;
  color: rgb(241, 241, 247);
}

p[class="logIn"] > a {
  color: rgb(55, 101, 86);
}
