/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: my-cool-font;
  src: url(./BeautifulPeoplePersonalUse-dE0g.ttf);
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.main-body {
  background-color: white;
  width: 67%;
  height: 100vh;
  display: flex;
}

.photo-column-left {
  background-color: rgb(244, 226, 229);
  flex: 1.1;
  background-image: url(./rishu-bhosale-ms-HZqv5i08-unsplash.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}

.form-column-right {
  background-color: rgb(252, 248, 248);
  flex: 1.9;
  display: flex;
  flex-direction: column;
  /* border: solid red 2px; */
}

.logo-banner {
  height: 20%;
  background-color: rgba(7, 7, 7, 0.5);
  position: relative;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(99deg) brightness(111%)
    contrast(100%);
  width: 200px;
  height: 75px;
}

.form-heading,
.form-body,
.form-footer {
  border: solid 2px rgb(169, 169, 172);
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 45px;
}

.form-heading h1 {
  font-family: "my-cool-font";
  color: black;
  font-size: 18px;
  line-height: 1.2em;
  max-width: 25vw;
}

legend {
  padding: 20px 0;
}
fieldset {
  border: 0;
}

label > span {
  display: block;
  text-align: left;
}

form[id="myform"] > fieldset {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  /* border: 2px solid red; */
}

p {
  padding: 10px 30px 15px 0px;
  flex-basis: 40%;
}

input {
  max-width: 180px;
}
